<!doctype html>
<html>
  <head>
    <title>
		{{ title }}
	</title>
	<meta http-equiv="refresh" content="60">
	<link rel="stylesheet" href="static/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="static/stylesheets/bootstrap-icons.css">
	<link rel="stylesheet" href="static/stylesheets/styles_body.css">
	
	
  </head>
  <body>
  
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
	
	<script  rel="text/javascript" charset="utf8" src="static/javascripts/jquery-3.6.0.min.js"></script>
	<script rel="text/javascript" charset="utf8" src="static/javascripts/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
